<footer class="text-center mt-auto w-100" style="background-color: #839c4c; background-image: url(static/img/fundoBranco.png);">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <!-- Copyright -->
    <div class="fs-5">
      © 2020 Copyright:
      <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

    <!-- Social Icons -->
    <div class="d-flex align-items-center">
      <div class="fs-5 me-3">Social:</div>
      <div class="me-1">
        <img src="static/img/icY.png" alt="YouTube" style="width: 24px;">
      </div>
      <div class="me-1">
        <img src="static/img/icL.png" alt="LinkedIn" style="width: 24px;">
      </div>
      <div class="me-1">
        <img src="static/img/icIN.png" alt="Instagram" style="width: 24px;">
      </div>
    </div>
  </div>
</footer>

