<footer class="p-3 text-bg-write text-center mt-auto">
    <!-- Facebook -->
    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
    ><i class="fab fa-facebook-f"></i
    ></a>
    <!-- Instagram -->
    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
    ><i class="fab fa-instagram"></i
    ></a>
    <!-- Youtube -->
    <a data-mdb-ripple-init class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button"
    ><i class="fab fa-youtube"></i
    ></a>
    <p class="m-0">Copyright © 2024 Casca grossa company - Todos os direitos reservados</p>
</footer>