<div class="container-fluid" style="background-color: #839c4c; background-image: url(static/img/FundoBranco.png);">
  <div class="row align-items-center">
    <!-- Coluna para a Logo -->
    <div class="col-12 col-md-7 col-lg-5 text-center mt-2 d-flex flex-column align-items-center">
        <img src="/static/img/cascaLogo5.png" alt="imagem" class="img-fluid">
        <p class="fs-5" style="font-family: 'Pompierre'; color: #ffffff;">Casca Grossa</p>
    </div>

    <!-- Coluna para as Opções e Barra de Pesquisa -->
    <div class="col-12 col-md-7 col-lg-5 d-flex flex-column align-items-center align-items-lg-end">
      <!-- Links de Navegação -->
      <div class="d-flex flex-wrap justify-content-center justify-content-lg-end mt-3">
        <a class="fs-6 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/">AJUDA</a>
        <a class="fs-6 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/">SOBRE NÓS</a>
        <a class="fs-6 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/">NOTIFICAÇÕES</a>
        <a class="fs-6 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/cadastrar">CADASTRAR |</a>
        <a class="fs-6 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/">ENTRAR</a>
        <i class="bi bi-cart4 fs-5" style="color: #ffffff;"></i>
      </div>

  
    </div>
  </div>
</div>