<div class="container-fluid" style="background-color: #839c4c; background-image: url(static/img/FundoBranco.png);">

  <div class="row align-items-center">
    <!-- Coluna para a Logo -->
    <div class="col-12 col-md-7 col-lg-5 text-center mt-2 d-flex flex-column align-items-center" >
      <a href="/cliente" class="text-decoration-none">
        <img src="/static/img/cascaLogo5.png" alt="imagem" class="img-fluid">
        <p class="fs-5" style="font-family: 'Pompierre'; color: #ffffff;">Casca Grossa</p>
      </a>
    </div>

    <!-- Coluna para as Opções e Barra de Pesquisa -->
    <div class="col-12 col-md-7 col-lg-5 d-flex flex-column align-items-center align-items-lg-end">
      <!-- Links de Navegação -->
      <div class="d-flex flex-wrap justify-content-center justify-content-lg-end mt-3">
        <a class="fs-5 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/ajudaLogado">AJUDA</a>
        <a class="fs-5 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/cliente/pedidos">PEDIDOS</a>
        <a class="fs-5 px-2 text-decoration-none" style="font-family: 'Pompierre'; color: #ffffff;" href="/cliente/favoritos">FAVORITOS</a>

        <a href="/cliente/carrinho"><i class="bi bi-cart4 fs-5" style="color: #ffffff;"></i></a>
      </div>
    </div>
  </div>

</div>


<div style="padding: 15px; text-align: center;">
  <input style="width: 60%; padding: 10px; border-radius: 5px; border: 1px solid #ccc; margin-right: 10px;" type="text" placeholder="Procurar..." />
  <button style="padding: 10px 20px; background-color: #839c4c; color: white; border: none; border-radius: 5px;">Pesquisar</button>
</div>

