{% extends "shared/base_privada.html" %}


{% block subtitulo %}Carrinho{% endblock %}




{%block conteudo%}

<div class="container mt-5 mb-3" style="background-color: #576320;">




    <!-- <div class="my-4 border-5" style="border-color: #839C4C ;background-color: #839C4C;">
        <div class="d-flex justify-content-between ms-4 me-4" style="color: white;">
            <div>Produtos</div>
            <div>Preço unitário</div>
            <div>Quantidade</div>
            <div>Preço total</div>
        </div>
    </div> -->


    <div class="d-flex flex-column mt-3" >


        <div class="d-flex justify-content-between mb-2 mt-4" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>


        <div class="d-flex justify-content-between my-2" style="background-color: #ffffff;">
            <div class="mt-2">
                <a class="ms-1"><img src="/static/img/fotoProdutor.png" alt=""></a>
                <span style="font-weight: bold;">Loja tal</span>
                <div style="display: flex; margin-top: 10px;">
                    <div> <img src="/static/img/morangoFavoritos.png" alt=""> </div>
                    <span class="h4" style="margin-left: 15px;">Produto tal tal tal <br> caixa 5 kg</span>
                </div>
            </div>
            <div class=" d-flex align-items-center fs-4">R$20,10</div>
            <div class="d-flex align-items-center">
                <div class="d-flex" style="width: 100px;">
                    <button class="btn btn-outline-secondary" type="button" title="diminui_quant_produto">-</button>
                    <input type="text" class="form-condivol text-center w-50" value="3">
                    <button class="btn btn-outline-secondary" type="button" title="aumenta_quant_produto">+</button>
                </div>
            </div>
            <div class="d-flex align-items-center fs-4 me-2">R$60,30</div>
        </div>
       
        <div class="text-white d-flex justify-content-between fixed-bottom mx-auto p-3" style="background-color: #ff914d; width: 1325px;">
            <div class="ms-5">
                <input type="checkbox">
                <span class="fs-4" style="font-weight: bold;" title="seleciona_todos_os_produtos_do_carrinho">Selecionar Tudo</span>
            </div>
            <div class="d-flex align-items-center" title="excluir_itens_selecionado">Excluir</div>
            <div class="d-flex align-items-center">Total: R$100,00</div>
            <div class="d-flex align-items-center me-5" title="segue_para_conf_pagamento">Continuar</div>
        </div>


    </div>


</div>


{% endblock %}
