


{% extends "shared/base_privada.html" %}


{% block subtitulo %}Página de Compras{% endblock %}




{%block conteudo%}


<div class="container mt-5 mb-3 fixed-background">
    <h1>Defina a forma de entrega</h1>
    <hr>
    <div class="row mt-5">
        <div class="col bg-light">
            <div class="mb-5">
                <h2>Receber no meu endereço</h2>
                <small> Rua das Flores, 123, Bairro Jardim Encantado, Cidade Nova, Estado Imaginário, CEP 00000-000</small>
                <h2></h2>
            </div>
            <div class="mt-5">
                <h2>Retirar no endereço do vendedor</h2>
                <small> Rua das Flores, 123, Bairro Jardim Encantado, Cidade Nova, Estado Imaginário, CEP 00000-000</small>
            </div>
        </div>
        <div class="col bg-light">
            
        </div>
    </div>


</div>


{% endblock %}
