{% extends "shared/base_privada.html" %}

{% block subtitulo %}Favoritos{% endblock %}


{% block conteudo %}

<div class="container my-5" style="background-color: #576320;" >


    <!-- <div class="my-4 border-5" style="border-color: #839C4C ;background-color: #839C4C;">
        <div class="d-flex justify-content-between ms-4 me-4" style="color: white;">
            <div>Produtos</div>
            <div>Preço unitário</div>
            <div>Quantidade</div>
            <div>Preço total</div>
        </div>
    </div> -->

    <div class="table table-hover table-borderless">

        <div class="d-flex flex-column">

            <div class="border border-white border-5 text-white d-flex justify-content-between mt-3" style="background-color: #ffffff;">
                    <div class="mt-4 d-flex">
                        <div>
                            <img src="/static/img/morangoFavoritos.png"> 
                        </div>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column">
                                <div class="h3">Morango Tal</div>
                                <p class="rating" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 19 avaliações</span></p>
                            </div>
                            <div class="mt-4 d-flex">
                                <div>Excluir</div>
                                <div>| Comprar</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-4 align-items-end">
                        <div class="h3 ms-5">R$ 14,57</div>
                    </div>
            </div>

            <div class="border border-white border-5 text-white d-flex justify-content-between mt-3" style="background-color: #ffffff;">
                <div class="mt-4 d-flex">
                    <div>
                        <img src="/static/img/morangoFavoritos.png"> 
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <div class="h3">Morango Tal</div>
                            <p class="rating" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 19 avaliações</span></p>
                        </div>
                        <div class="mt-4 d-flex">
                            <div>Excluir</div>
                            <div>| Comprar</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4 align-items-end">
                    <div class="h3 ms-5">R$ 14,57</div>
                </div>
        </div>

        <div class="border border-white border-5 text-white d-flex justify-content-between mt-3" style="background-color: #ffffff;">
            <div class="mt-4 d-flex">
                <div>
                    <img src="/static/img/morangoFavoritos.png"> 
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <div class="h3">Morango Tal</div>
                        <p class="rating" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 19 avaliações</span></p>
                    </div>
                    <div class="mt-4 d-flex">
                        <div>Excluir</div>
                        <div>| Comprar</div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-4 align-items-end">
                <div class="h3 ms-5">R$ 14,57</div>
            </div>
        </div>

        <div class="border border-white border-5 text-white d-flex justify-content-between mt-3" style="background-color: #ffffff;">
            <div class="mt-4 d-flex">
                <div>
                    <img src="/static/img/morangoFavoritos.png"> 
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <div class="h3">Morango Tal</div>
                        <p class="rating" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 19 avaliações</span></p>
                    </div>
                    <div class="mt-4 d-flex">
                        <div>Excluir</div>
                        <div>| Comprar</div>
                    </div>
                </div>
            </div>
            <div class="d-flex mt-4 align-items-end">
                <div class="h3 ms-5">R$ 14,57</div>
            </div>
        </div>

        <div class="border border-white border-5 text-white d-flex justify-content-between mt-3" style="background-color: #ffffff;">
            <div class="mt-4 d-flex">
                <div>
                    <img src="/static/img/produtoraFavorito.png"> 
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column ms-2">
                        <div class="h3">Morango Tal</div>
                        <p class="rating" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 22 avaliações</span></p>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>

    <!-- <div class="text-white d-flex justify-content-between fixed-bottom mx-5" style="background-color: #ff914d;">
        <div class="ms-5">
            <input type="checkbox">
            <span class="fs-4" style="font-weight: bold;">Selecionar Tudo</span>
        </div>
        <div class=" d-flex align-items-center">Excluir</div>
        <div class=" d-flex align-items-center">Total: R$100,00</div>
        <div class="d-flex align-items-center me-5">Continuar</div>
    </div> -->

</div>

{% endblock %}