.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* espaço*/

body {
    background-image: url('/static/img/fundo.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; /* Para evitar rolagem horizontal */
}
.header {
    background-color: #9BC73A;
    padding: 10px 20px;
}
.logo img {
    height: 80px;
}
.main {
    text-align: center;
    padding: 50px 20px;
    flex: 1;
    position: relative;
}
.main h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
}
.main p {
    font-size: 1.2em;
    margin: 10px 0 50px;
}
.search-text {
    font-size: 1.2em;
    font-weight: bold;
    margin: 50px 0 20px;
}
.search-bar {
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer {
    background-color: #9BC73A;
    text-align: center;
    padding: 10px;
    
}
.nav .nav-link {
    color: black !important;
    font-weight: bold;
}
.elementos-image1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    z-index: -1;
}
.elementos-image2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: -1;
}
.elementos-faq {
    position: absolute;
    top: -20;
    right: 0;
    width: 460px;
    z-index: -1;
}
.email-confirmation {
    text-align: center;
    padding: 2rem;
}

.email-confirmation input {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #000;
}

.email-confirmation button {
    padding: 1rem 2rem;
    background-color: #8cc63e;
    border: none;
    color: white;
    font-size: 1rem;
}

.faq {
    text-align: left; /* Garante que o conteúdo seja alinhado à esquerda */
}

.faq textarea {
    width: 80%;
    height: 150px;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
}

.faq button {
    padding: 1rem 2rem;
    background-color: #8cc63e;
    border: none;
    color: white;
    font-size: 1rem;
}

.frequent-questions {
    text-align: left; /* Garante que o conteúdo seja alinhado à esquerda */
}

.frequent-questions button {
    padding: 1rem 2rem;
    background-color: #8cc63e;
    border: none;
    color: white;
    font-size: 1rem;
    margin: 120px;
}

.reset-password {
    text-align: center;
    padding: 2rem;
}

.reset-password input {
    width: 80%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #000;
}

.reset-password button {
    padding: 1rem 2rem;
    background-color: #8cc63e;
    border: none;
    color: white;
    font-size: 1rem;
}

.fixed-background {
    background-image: url('static/img/terere.jpeg'); /* Substitua pelo link da sua imagem */
    background-size: cover; /* Faz a imagem cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Fixa a imagem no fundo */
    height: 100vh; /* A altura é de 100% da altura da viewport */
  }