{% extends "pages/base.html" %}
{% block subtitulo %}JeitoRural/FAQ{% endblock %}
{% block conteudo %}
<main class="main">
    <img src="static/img/elementosfaq.png" class="elementos-faq" alt="Elementos Decorativos">
    <section class="faq">
       <h1>FAQ</h1><br>
       <textarea placeholder="Digite aqui..."></textarea>
   </section>

   <section class="faq"><br>
   <button>Enviar</button>
   </section>
   <section class="frequent-questions">
       <br><br>
       <h2>Dúvidas Frequentes:</h2>
       <button>Dúvida 1</button>
       <button>Dúvida 2</button>
       
   </section>
   
</main>
{% endblock %}