{% extends "pages/base.html" %}
{% block subtitulo %}JeitoRural/Inicio{% endblock %}
{% block conteudo %}
<main class="main">
    <h1>CONSUMA DO JEITO RURAL</h1>
    <p>E ajude a reduzir o desperdício de alimentos</p>
    <div class="search-text">BUSQUE PERTO DE VOCÊ</div>
    <div class="search-bar d-flex justify-content-center">
        <input class="form-control w-50" type="text" placeholder="Digite seu endereço">
        <button class="btn btn-outline-dark ml-2">Buscar</button>
    </div>
    <!-- Imagem decorativa -->
    <img src="images/elementos.png" class="elementos-image1" alt="Elementos Decorativos">
    <img src="images/elementos.png" class="elementos-image2" alt="Elementos Decorativos">
</main>
{% endblock %}