{% extends "shared/base_privada.html" %}
{% from "shared/macros.html" import input_text, input_date, input_email, input_password, input_radios, input_select %}
{% block subtitulo %}perfil_cliente{% endblock %}


{% block conteudo %}

<div class=" container mb-5">

    <div class="d-flex">

        <div class=" bg-white margin margin-2 d-flex flex-column my-5 w-25">

            <div class="d-flex ms-2 my-4">
                <div>
                    <img src="/static/img/pedroTOPdmais.png" class="rounded-circle me-2" width="50">
                </div>
                <div class="d-flex flex-column">
                    <strong>Pedro Top</strong>
                    <div class="d-flex">
                        <p>Editar</p>
                        <i class="bi bi-pencil-square ms-3"></i>
                    </div>
                </div>
            </div>

            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">Cartoes e contas bancarias</a>
            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">Troca de senha</a>
            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">arivacidade</a>
            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">Endereços</a>
            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">Cuaons</a>
            <a class="fs-6 my-4 ms-2 px-2 text-decoration-none text-black" style="font-family: 'Pompierre';">Sair</a>

        </div>

        <div class="ms-5 bg-white margin margin-2 d-flex my-5 w-75 d-flex">

            <div class="d-flex align-items-start ms-3 my-4 flex-column">
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">Nome de Usuario: </a>  
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">Nome: </a>  
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">Email: </a>  
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">Numero de Telefone: </a>  
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">Data de Nascimento: </a>  
                <a class="fs-6 my-4 text-decoration-none text-black" style="font-family: 'Pompierre';">CPF: </a>  
            </div>

            <div class="d-flex align-items-end ms-3 my-4 flex-column w-75">
                {{ input_text("nome", "Nome de Usuario", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2") }}
                {{ input_text("nome", "Nome", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2") }}
                {{ input_text("nome", "Email", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2 ") }}
                {{ input_text("nome", "Numero de telefone", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2") }}
                {{ input_text("nome", "Data de nascimento", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2") }}
                {{ input_text("nome", "CPF", "required autofocus data-mask='nome'", div_classes="ms-4 w-75 my-2") }}
            </div>

        </div>

    </div>

</div>

{% endblock %}