{% extends "shared/base_privada.html" %}

{% block subtitulo %}Perfil Vendedor{% endblock %}


{% block conteudo %}

<div class="container mt-3">

  <!-- Filtros/produtos -->
  <div class="row my-3">

    <!-- Produtos --> 
    <div class="class bg-white">

        <div class="col-12 d-flex justify-content-between mt-4" style="background-color: #D1D3CC;">

            <div class="d-flex ms-2 my-4">
                <div><img class="my-2 ms-3" src="/static/img/MorangoVendedora.png" ></div>
                <!-- <a class="fs-5 text-decoration-none text-black" style="font-family: 'Pompierre';">Terra do Morango</a>  -->
            </div>

            <div class="d-flex flex-column my-4">
                <div class="d-flex ">
                    <i class="bi bi-shop-window fs-2"></i>
                    <a class="fs-5 ms-2 text-decoration-none text-black">1000 Produtos anunciados</a>
                </div>
                <div class="d-flex ">
                    <i class="bi bi-person-fill fs-2"></i>
                    <a class="fs-5 ms-2 text-decoration-none text-black">10 seguidores</a>
                </div>
            </div>

            <div class="my-4 me-2 d-flex flex-column align-items-center">
                <p class="rating fs-4" style="color:#7ca04b">★ ★ ★ ★ ★ 5.0<span class="text-muted"> | 9 avaliações</span></p>
                <button class="btn cart-button ms-5 btn btn-custom w-95 border border-1 fw-bold">
                    <i class="bi bi-person-fill-add fs-4"></i> Seguir</button>
            </div>

        </div>

      <div class="row g-3">
        <a href="/tela_compra" class="text-decoration-none text-dark">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <div class="card" style="width: 200px;">
            <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title mb-3">Morango Tal</h5>
                <div class="d-flex">
                <img src="static/img/fotoProdutor.png" >
                <p class="card-text">Terra do Morango</p>
                </div>
                <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <a href="/tela_compra" class="text-decoration-none text-dark">
          <div class="card" style="width: 200px;">
            <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title mb-3">Morango Tal</h5>
                <div class="d-flex">
                <img src="static/img/fotoProdutor.png" >
                <p class="card-text">Terra do Morango</p>
                </div>
                <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
        </a>
      </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
         <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
         </a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
         <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
         </a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
          <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <a href="/tela_compra" class="text-decoration-none text-dark">
               <div class="card" style="width: 200px;">
                 <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
                 <div class="card-body">
                     <h5 class="card-title mb-3">Morango Tal</h5>
                     <div class="d-flex">
                     <img src="static/img/fotoProdutor.png" >
                     <p class="card-text">Terra do Morango</p>
                     </div>
                     <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
                 </div>
               </div>
            </a>
           </div>
   
           <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <a href="/tela_compra" class="text-decoration-none text-dark">
               <div class="card" style="width: 200px;">
                 <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
                 <div class="card-body">
                     <h5 class="card-title mb-3">Morango Tal</h5>
                     <div class="d-flex">
                     <img src="static/img/fotoProdutor.png" >
                     <p class="card-text">Terra do Morango</p>
                     </div>
                     <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
                 </div>
               </div>
            </a>
           </div>
   
           <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
             <a href="/tela_compra" class="text-decoration-none text-dark">
               <div class="card" style="width: 200px;">
                 <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
                 <div class="card-body">
                     <h5 class="card-title mb-3">Morango Tal</h5>
                     <div class="d-flex">
                     <img src="static/img/fotoProdutor.png" >
                     <p class="card-text">Terra do Morango</p>
                     </div>
                     <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
                 </div>
               </div>
             </a>
           </div>

           <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <a href="/tela_compra" class="text-decoration-none text-dark">
              <div class="card" style="width: 200px;">
                <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title mb-3">Morango Tal</h5>
                    <div class="d-flex">
                    <img src="static/img/fotoProdutor.png" >
                    <p class="card-text">Terra do Morango</p>
                    </div>
                    <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
                </div>
              </div>
            </a>
          </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-4">
          <a href="/tela_compra" class="text-decoration-none text-dark">
            <div class="card" style="width: 200px;">
              <img src="static/img/produto.png" class="card-img-top" style="width: 100%; height: auto; object-fit: cover;">
              <div class="card-body">
                  <h5 class="card-title mb-3">Morango Tal</h5>
                  <div class="d-flex">
                  <img src="static/img/fotoProdutor.png" >
                  <p class="card-text">Terra do Morango</p>
                  </div>
                  <p class="mt-3" style="font-size: 1.2rem; font-weight: bold; color: green;">5,99 KG</p>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}